/*全局样式*/
html,body,#app{
    margin: 0;
    padding: 0;
    /*统一设置高度为100%*/
    height: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 5px;
}
